<!DOCTYPE html>
<html>
<head>
	<title> bitcoinmail </title>
	<link rel="stylesheet" type="text/css" href="./bitcoin-miner.css">
	<link rel="stylesheet" type="text/css" href="./colors.css">
</head>
<body>

<header><h1> bitcoinmail </h1>
	<br>

<p> Welcome to bitcoinmail <b>|</b><span class="blue"> Mine bitcoin using your Email power.</span></header>

	<div class="payouts">
		<span> Recent Payouts:</span> <marquee><strong>$340,000 Paid out Last Month</strong></marquee>
	</div>

<div class="about">
	<div><h1> How We Work </h1>
<p> bitcoinmail can be seen as a cloud based tool. we help our users mine bitcoin using the capacity and storage of your email accounts</p></div>
<div><h1> How is this possible ?</h1>
<p> most of us do mine bitcoins and other cryptocurrency using our phones computers and even a bitcoin machine. <p>we have made it possible to mine bitcoin using your email. your email has a lot of power in which most of us dont know</p> instead of using the processing power of your device why not use the processing power of your email?</p></div>
<div><h1> Know more</h1>
<p> <font color="red"> NOTE :</font> Only accounts more than a year can mine bitcoins using their processing power as this accounts are trusted by email clients and our servers</p>
<p> We dont keep track of free mining accounts, your earnings can be lost due to error in your device. <font color="red"> Upgraded </font> accounts have access to our database, therefore no loss in earnings.</p>
</div>
<div><h1> How much do i pay?</h1>
<p> Our server is strong enough to carryout a lot of activities on the blockchain. all basic accounts are free and you can start earning immediately. you can only boost your earnings by upgrading to a corporate account.</p><p><font color="red"> NOTE: </font> We dont save informations on free emails, so your earnings might dissapear due to your device.</p></div>


</div>

<div class="testimonies"><span></span></div>

<div class="bg-blue get-started">
	<p> Ready to get started ? </p>
	<a href="/start-mining"><button class="bg-green button"> Start mining.</button></a>
</div>

</body>
</html>